<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lock Pack Solutions</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Favicon -->
  <link rel="icon" type="image/svg" href="{{ url_for('static', filename='logo-02.svg') }}">
  <!-- Leaflet CSS and JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/flipdown/dist/flipdown.css">
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>

<body>
  <div class="container">
    <div class="left-panel">

      <!-- Fixed Main Navbar -->
      <ul class="ul0">
        <li class="horizon"><a class="active" href="#" data-section="devices">Devices</a></li>
        <li class="horizon"><a href="#" data-section="history">History</a></li>
        <li class="horizon"><a href="#" data-section="geo">Geo-fencing</a></li>
      </ul>

      <!-- Dynamic Left Panel Content -->
      <div id="left-content">

        <!-- Devices Section -->
        <div id="devices-section" class="section active">
          <div class="sub-navbar">
            <button id="add-device-btn">➕ Add Device</button>
          </div>
          <!-- Vertical Device List -->
          <ul class="ul1" id="device-list"></ul>
        </div>

        <!-- Device Page -->
        <div id="device-page" class="section">
          <div class="sub-navbar">
            <button id="back-to-devices">⬅️ Back</button>
          </div>

          <div class="device-card">
            <div class="device-card-content">
              <h4 id="device-title"></h4>
            </div>
          </div>

         <div class="status-card">
          
          <div class="top-cards">
            
            <div class="highlighted-card">
              <img src="{{ url_for('static', filename='icons/clock.png') }}" class="highlighted-icon">
              <div class="param-info">
                <span class="param-label">Time:</span>
                <span id="param-time" class="param-value">--:--:--</span>
              </div>
            </div>

            <div class="highlighted-card">
              <img src="{{ url_for('static', filename='icons/gps_2.png') }}" class="highlighted-icon">
              <div class="param-info">
                <span class="param-label">Latitude:</span>
                <span id="param-lat" class="param-value">--</span>
                <span class="param-label">Longitude:</span>
                <span id="param-lon" class="param-value">--</span>
              </div>
            </div>

            <div class="highlighted-card">
              <img src="{{ url_for('static', filename='icons/lock.png') }}" class="highlighted-icon">
              <div class="param-info">
                <span class="param-label">Lock status</span>
                <span id="param-lock" class="param-value">--</span>
              </div>
            </div>

            <div class="highlighted-card">
              <img src="{{ url_for('static', filename='icons/full-battery.png') }}" class="highlighted-icon">
              <div class="param-info">
                <span class="param-label">Battery</span>
                <span id="param-batt" class="param-value">--%</span>
              </div>
            </div>
          </div>

          <div class="bottom-cards">

            <div class="normal-card">
              <img src="{{ url_for('static', filename='icons/satellite.png') }}" class="normal-icon">
              <div class="param-info">
                <!-- <span class="param-label">Signal Source:</span> -->
                <span id="param-gpsSource" class="param-value">--</span>
                <span class="param-label">--------</span>
                <span id="param-jamming" class="param-value">--</span>
                <span class="param-label">--------</span>
                <span id="param-spoofing" class="param-value">--</span>
              </div>
            </div>

            <div class="normal-card">
              <!-- <img src="{{ url_for('static', filename='icons/counter.png') }}" class="normal-icon"> -->
              <div class="param-info">
                <span class="param-label">Msg Counter</span>
                <div id="msg-counter" class="flip-counter">0</div>
              </div>
            </div>
            
            <div class="normal-card">
              <img src="{{ url_for('static', filename='icons/wifi.png') }}" class="normal-icon">
              <div class="param-info">
                <span class="param-label">Signal Strength</span>
                <span id="param-rssi-status" class="param-value">--</span>
              </div>
            </div>

            <div class="normal-card">
              <img src="{{ url_for('static', filename='icons/speed.png') }}" class="normal-icon">
              <div class="param-info">
                <span class="param-label">Speed</span>
                <span id="param-speed" class="param-value">--</span>
              </div>
            </div>

            <div class="normal-card">
              <img src="{{ url_for('static', filename='icons/temp.png') }}" class="normal-icon">
              <div class="param-info">
                <span class="param-label">Temperature</span>
                <span id="param-temp" class="param-value">-- °C</span>
              </div>
            </div>

            <div class="normal-card hidden">
              <img src="{{ url_for('static', filename='icons/box.png') }}" class="normal-icon">
              <div class="param-info">
                <span class="param-label">Queue</span>
                <span id="param-queued" class="param-value">--</span>
              </div>
            </div>

            <div class="normal-card hidden">
              <img src="{{ url_for('static', filename='icons/rotate.png') }}" class="normal-icon">
              <div class="param-info">
                <span class="param-label">Travelled distance</span>
                <span id="param-traveledDistance" class="param-value">--</span>
              </div>
            </div>

            <div class="normal-card hidden">
              <img src="{{ url_for('static', filename='icons/rotate.png') }}" class="normal-icon">
              <div class="param-info">
                <span class="param-label">Total Travelled distance</span>
                <span id="param-totalTraveledDistance" class="param-value">--</span>
              </div>
            </div>
          </div>

          <div class="alarm-cards">
            
            <div class="alarm-card">
              <img src="{{ url_for('static', filename='icons/rfid.png') }}" class="highlighted-icon">
              <div class="param-info">
                <span class="param-label">Attempted Time:</span>
                <span id="rfid-time" class="alarm-value">--:--:--</span>
                <span class="param-label">RFID Serial number:</span>
                <span id="rfid-serial" class="alarm-value">--</span>
                <span class="param-label">Command:</span>
                <span id="rfid-action" class="alarm-value">--</span>
              </div>
            </div>

            <div class="alarm-card">
              <img src="{{ url_for('static', filename='icons/SMS.png') }}" class="highlighted-icon">
              <div class="param-info">
                <span class="param-label">Attempted Time:</span>
                <span id="sms-time" class="alarm-value">--:--:--</span>
                <span class="param-label">Phone number:</span>
                <span id="sms-phone" class="alarm-value">--</span>
                <span class="param-label">Command:</span>
                <span id="sms-action" class="alarm-value">--</span>
              </div>
            </div>

            <div class="alarm-card">
              <img src="{{ url_for('static', filename='icons/zone.png') }}" class="highlighted-icon">
              <div class="param-info">
                  <span class="param-label">Distance to geo-fence</span>
                  <span id="param-distanceToGeo" class="alarm-value">--</span>
                  <span class="param-label">Zone notification:</span>
                  <span id="param-isInGeofence" class="alarm-value">--</span>
              </div>
            </div>
          </div>


          <div class="alert-cards">
            
            <div class="alert-card">
              <img src="{{ url_for('static', filename='icons/alert.png') }}" class="highlighted-icon">
              <div class="param-info">
                <span class="param-label">Security Alert:</span>
                <span id="security-alert-reason" class="alert-value">--</span>
                <span class="param-label">Detected at:</span>
                <span id="security-alert-detected-time" class="alert-value">--:--:--</span>
              </div>
            </div>

            <div class="alert-card">
              <img src="{{ url_for('static', filename='icons/gyro.png') }}" class="highlighted-icon">
              <div class="param-info">
                <span class="param-label">Gyro Detected Force:</span>
                <span id="gyro-value" class="alert-value">--</span>
                <span class="param-label">Occurred at:</span>
                <span id="gyro-time" class="alert-value">--:--:--</span>
              </div>
            </div>

          </div>
          
          <div class="command-cards">
            <div class="command-card" id="rfid-command-btn" onclick="rfidConfigModal()">
              <img src="{{ url_for('static', filename='icons/rfid1.png') }}" alt="RFID Command">
              <span class="command-title">On/Off RFID</span>
            </div>

            <div class="command-card" id="lock-command-btn" onclick="openLockModal()">
              <img src="{{ url_for('static', filename='icons/key.png') }}" alt="Lock Command">
              <span class="command-title">Command Lock state</span>
            </div>

            <div class="command-card" id="config-command-btn" onclick="openConfigModal()">
              <img src="{{ url_for('static', filename='icons/stop-watch.png') }}" alt="Config Wait">
              <span class="command-title">Set Wake Up Interval</span>
            </div>

            <div class="command-card" id="gyro-command-btn" onclick="gyroConfigModal()">
              <img src="{{ url_for('static', filename='icons/gyro.png') }}" alt="Gyro Config">
              <span class="command-title">Set Gyroscope Sensitivity</span>
            </div>

            <div class="command-card" id="add-phone-btn" onclick="addPhoneConfigModal()">
              <img src="{{ url_for('static', filename='icons/phone-book.png') }}" alt="Add Phone Config">
              <span class="command-title">Add Adminatory Phonenumber</span>
            </div>
          </div>


        </div>

          <!-- <div id="device-console" style="font-family: monospace; background: #ebe6e6; color: rgb(4, 116, 4); padding: 1em; height: 350px; overflow-y: auto;">
            Waiting for messages...
          </div> -->
        </div>

        <!-- History Section -->
        <div id="history-section" class="section">
          <h3>History View</h3>
          <p>Coming soon...</p>
        </div>

        <!-- Geo-fencing Section -->
        <div id="geo-section" class="section">
          <h3>Geo-fencing</h3>
          <p>Coming soon...</p>
        </div>
      </div>
    </div>

    <div class="right-panel">
        <div id="map"></div>
      </div>
    </div>

    <!-- Modal Form for Adding Device -->
    <div id="device-modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Add New Device</h3>
        <form id="add-device-form">
          <input type="text" id="new-IMEI" placeholder="IMEI" required><br>
          <button type="submit">Add Device</button>
        </form>
      </div>
    </div>

  <!-- Config rfid Modal -->
  <div id="rfid-modal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="rfidConfigConfigModal()">&times;</span>
      <h3>Turn On/Off RFID modlue</h3>
      <form id="rfid-form">
        <select id="rfid-command">
          <option value="on">ON</option>
          <option value="of">OFF</option>
        </select>
        <br><br>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>

  <!-- Lock Command Modal -->
  <div id="lock-modal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeLockModal()">&times;</span>
      <h3>Send Lock Command</h3>
      <form id="lock-form">
        <select id="lock-command">
          <option value="lock_open">Open</option>
          <option value="lock_close">Close</option>
        </select>
        <br><br>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>

  <!-- Config Wait Modal -->
  <div id="wit-modal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeConfigModal()">&times;</span>
      <h3>Set Wake-up Interval Time for device (seconds)</h3>
      <form id="wit-form">
        <input type="number" id="wit-time" placeholder="30" min="1" required>
        <br><br>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>

  <!-- gyro config Modal -->
  <div id="gyro-modal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeGyroConfigModal()">&times;</span>
      <h3>Set Wake-up Interval Time for device (seconds)</h3>
      <form id="gyro-form">
        <input type="number" id="gyro-sensitivity" placeholder="5" min="0" required>
        <br><br>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>

  <!-- add phone number config Modal -->
  <div id="add-phone-modal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeAddPhoneModal()">&times;</span>
      <h3>Add administrator phone number to this device</h3>
      <form id="add-phone-form">
        <input type="text" id="new-phone-number" placeholder="+98 - 912123456" value="+98 " required>
        <br><br>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
